In [1]:
import pandas as pd
import numpy as np

# Ćwiczenia 3

**ZADANIE 1**

In [5]:
df=pd.read_csv("titanic_new.csv")
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,ageNull,CabinReduce
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",0,B
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",0,C
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0,C
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",0,C
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0,C

**ZADANIE 2**

In [6]:
from sklearn.model_selection import train_test_split

Pozwala na podział zbioru na zbiór testowy i treningowy.

**ZADANIE 3**

In [17]:
col_name=['sex','cabin','CabinReduce']
col_name

['sex', 'cabin', 'CabinReduce']

**ZADANIE 4**

In [20]:
#zmienna niezależna - df['col_name']
#zmienna zależna -  df['survived']
#random_state =0
#rozmiar testowego 20 lub 30%

X_train, X_test, y_train, y_test = train_test_split(df[col_name], df['survived'], test_size=0.30, random_state=0)
print(X_train.shape,X_test.shape, y_train.shape, y_test.shape)

(916, 3) (393, 3) (916,) (393,)

X_train - zmienne niezależne, które będą później użyte do trenowania modeli
X_test — pozostała część, które będzie użyta do przetestowania dokładności modelu
y_train — zmienna zależna, która powinna być przewidziana przez dany model
y_train - sprawdza skuteczność modelu

Rozmiar X_train i y_train są takie same, oraz X_test i y_test też takie same

**ZADANIE 5**

In [27]:
Unique_test = [x for x in X_test.sex.unique() if x not in X_train.sex.unique()]
len(Unique_test)

0

In [28]:
Unique_test = [x for x in X_test.cabin.unique() if x not in X_train.cabin.unique()]
len(Unique_test)

37

In [29]:
Unique_test = [x for x in X_test.CabinReduce.unique() if x not in X_train.CabinReduce.unique()]
len(Unique_test)

0

Rozkład etykiet dla poszczególnych cech w zbiorach testowych i treningowych jest równomierny dla płci oraz zredukowanej kabiny. Dla niezredukowanych kabin brakuje 37 wartości w zbiorze treningowym.

**ZADANIE 6**

In [117]:
def encode(col) :
    c=list(set(df[col]))
    d={}
    for idx, val in enumerate(c) :
        d[val]=idx
    return d

In [118]:
dc=encode('cabin')
len(dc)

187

In [119]:
dcR=encode('CabinReduce')

In [120]:
ds=encode('sex')

**ZADANIE 7**

In [121]:
X_train['sex_map']=X_train['sex'].map(ds)
X_train['cabin_map']=X_train['cabin'].map(dc)
X_train['CabinReduce_map']=X_train['CabinReduce'].map(dcR)
X_train.sample(20)

         sex cabin CabinReduce  sex_map  cabin_map  CabinReduce_map
962     male   NaN           n        1          0                6
802     male   NaN           n        1          0                6
338     male   NaN           n        1          0                6
1001  female   NaN           n        0          0                6
980   female   NaN           n        0          0                6
543     male   NaN           n        1          0                6
166     male   NaN           n        1          0                6
1227  female   NaN           n        0          0                6
180   female   NaN           n        0          0                6
272   female   B45           B        0        165                4
1136  female   NaN           n        0          0                6
919     male   NaN           n        1          0                6
468   female   NaN           n        0          0                6
1016    male   NaN           n        1          0                6
1065    male   NaN           n        1          0                6
929     male   NaN           n        1          0                6
820     male   NaN           n        1          0                6
212     male  C118           C        1        139                5
1201    male   NaN           n        1          0                6
1190    male   NaN           n        1          0                6

In [127]:
X_test['sex_map']=X_test['sex'].map(ds)
X_test['cabin_map']=X_test['cabin'].map(dc)
X_test['CabinReduce_map']=X_test['CabinReduce'].map(dcR)
X_test.sample(20)

         sex        cabin CabinReduce  sex_map  cabin_map  CabinReduce_map
601     male          NaN           n        1          0                6
625   female          NaN           n        0          0                6
406     male          NaN           n        1          0                6
965     male          NaN           n        1          0                6
793     male          NaN           n        1          0                6
434   female          NaN           n        0          0                6
438   female          NaN           n        0          0                6
141   female      D10 D12           D        0         47                0
792     male          NaN           n        1          0                6
1015    male          NaN           n        1          0                6
412     male          NaN           n        1          0                6
113   female  C23 C25 C27           C        0        120                5
1046    male          NaN           n        1          0                6
1076  female          NaN           n        0          0                6
486     male          NaN           n        1          0                6
435     male          NaN           n        1          0                6
302   female          NaN           n        0          0                6
934   female          NaN           n        0          0                6
853     male          NaN           n        1          0                6
1122  female        F E69           F        0        143                3

**ZADANIE 8**

In [129]:
X_train.isna().sum()

sex                  0
cabin              702
CabinReduce          0
sex_map              0
cabin_map            0
CabinReduce_map      0
dtype: int64

In [130]:
X_test.isna().sum()

sex                  0
cabin              312
CabinReduce          0
sex_map              0
cabin_map            0
CabinReduce_map      0
dtype: int64

W zmodyfikowanych zbiorach(dla kolumn sex_map,cabin_map,CabinReduce_map) nie ma wartości NaN, ponieważ zostały one już zastąpione. Dla cabin jest dużo wartości NaN.

**ZADANIE 9**

In [132]:
X_test['cabin']=X_test['cabin'].fillna(0)
X_train['cabin']=X_train['cabin'].fillna(0)

In [152]:
X_test.sample(20)

         sex    cabin CabinReduce  sex_map  cabin_map  CabinReduce_map
574     male        0           n        1          0                6
703     male        0           n        1          0                6
717     male        0           n        1          0                6
328     male        0           n        1          0                6
1122  female    F E69           F        0        143                3
548     male        0           n        1          0                6
458   female        0           n        0          0                6
434   female        0           n        0          0                6
1075    male        0           n        1          0                6
1146  female        0           n        0          0                6
141   female  D10 D12           D        0         47                0
406     male        0           n        1          0                6
270   female      C31           C        0        103                5
632   female        0           n        0          0                6
308   female      C32           C        0         85                5
818   female        0           n        0          0                6
933     male        0           n        1          0                6
81      male      B22           B        1          9                4
1015    male        0           n        1          0                6
472     male        0           n        1          0                6

In [133]:
X_train.isna().sum()

sex                0
cabin              0
CabinReduce        0
sex_map            0
cabin_map          0
CabinReduce_map    0
dtype: int64

In [134]:
X_test.isna().sum()

sex                0
cabin              0
CabinReduce        0
sex_map            0
cabin_map          0
CabinReduce_map    0
dtype: int64

Po zastąpieniu cabin wartością 0 nasz model może dawać błędne wyniki. Zastępując brakujące wartości zerem, model może błędnie zinterpretować, że jest taka kabina o numerze 0. Podobnie w CabinReduce, gdzie wartości NaN zostały zastąpione "n".

**ZADANIE 10**

In [150]:
for i in X_test.columns :
    print("{}: {}".format(i,len(X_test[i].unique())))

sex: 2
cabin: 71
CabinReduce: 8
sex_map: 2
cabin_map: 71
CabinReduce_map: 8

In [151]:
for i in X_train.columns :
    print("{}: {}".format(i,len(X_train[i].unique())))

sex: 2
cabin: 151
CabinReduce: 9
sex_map: 2
cabin_map: 151
CabinReduce_map: 9

In [153]:
Unique_test = [x for x in X_test.sex_map.unique() if x not in X_train.sex_map.unique()]
len(Unique_test)

0

In [154]:
Unique_test = [x for x in X_test.cabin_map.unique() if x not in X_train.cabin_map.unique()]
len(Unique_test)

36

In [155]:
Unique_test = [x for x in X_test.CabinReduce_map.unique() if x not in X_train.CabinReduce_map.unique()]
len(Unique_test)

0

Po redukcji zmalała znacząco liczba etykiet dla zmiennej cabin. Cały proces może mieć wpływ na działanie modelu np przez zamiane NaN na 0. Po zmianie zmiennej z kategorycznej na numeryczną przez mapowanie, jesteśmy w stanie wykorzystać to w modelu, co przekłada się na wartość predykcji.