In [1]:
import pandas as pd
import numpy as np

# Ćwiczenia 3

**ZADANIE 1**

In [2]:
df=pd.read_csv("titanic_new.csv")
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,ageNull,CabinReduce
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",0,B
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",0,C
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0,C
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",0,C
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0,C

**ZADANIE 2**

In [3]:
from sklearn.model_selection import train_test_split

Pozwala na podział zbioru na zbiór testowy i treningowy.

**ZADANIE 3**

In [4]:
col_name=['sex','cabin','CabinReduce']
col_name

['sex', 'cabin', 'CabinReduce']

**ZADANIE 4**

In [5]:
#zmienna niezależna - df['col_name']
#zmienna zależna -  df['survived']
#random_state =0
#rozmiar testowego 20 lub 30%

X_train, X_test, y_train, y_test = train_test_split(df[col_name], df['survived'], test_size=0.30, random_state=0)
print(X_train.shape,X_test.shape, y_train.shape, y_test.shape)

(916, 3) (393, 3) (916,) (393,)

X_train - zmienne niezależne, które będą później użyte do trenowania modeli
X_test — pozostała część, które będzie użyta do przetestowania dokładności modelu
y_train — zmienna zależna, która powinna być przewidziana przez dany model
y_train - sprawdza skuteczność modelu

Rozmiar X_train i y_train są takie same, oraz X_test i y_test też takie same

**ZADANIE 5**

In [6]:
Unique_test = [x for x in X_test.sex.unique() if x not in X_train.sex.unique()]
len(Unique_test)

0

In [7]:
Unique_test = [x for x in X_test.cabin.unique() if x not in X_train.cabin.unique()]
len(Unique_test)

37

In [8]:
Unique_test = [x for x in X_test.CabinReduce.unique() if x not in X_train.CabinReduce.unique()]
len(Unique_test)

0

Rozkład etykiet dla poszczególnych cech w zbiorach testowych i treningowych jest równomierny dla płci oraz zredukowanej kabiny. Dla niezredukowanych kabin brakuje 37 wartości w zbiorze treningowym.

**ZADANIE 6**

In [9]:
def encode(col) :
    c=list(set(df[col]))
    d={}
    for idx, val in enumerate(c) :
        d[val]=idx
    return d

In [10]:
dc=encode('cabin')
len(dc)

187

In [11]:
dcR=encode('CabinReduce')

In [12]:
ds=encode('sex')

**ZADANIE 7**

In [13]:
X_train['sex_map']=X_train['sex'].map(ds)
X_train['cabin_map']=X_train['cabin'].map(dc)
X_train['CabinReduce_map']=X_train['CabinReduce'].map(dcR)
X_train.sample(20)

         sex    cabin CabinReduce  sex_map  cabin_map  CabinReduce_map
866   female      NaN           n        1          0                8
664     male      NaN           n        0          0                8
37      male      NaN           n        0          0                8
1285    male      NaN           n        0          0                8
110     male     C111           C        0         90                3
782     male      NaN           n        0          0                8
775     male      NaN           n        0          0                8
1283    male      NaN           n        0          0                8
57    female  B96 B98           B        1        139                5
835     male      NaN           n        0          0                8
712     male      NaN           n        0          0                8
121   female      NaN           n        1          0                8
778   female      NaN           n        1          0                8
1176    male      NaN           n        0          0                8
628   female      NaN           n        1          0                8
752     male      NaN           n        0          0                8
25      male      NaN           n        0          0                8
1048  female      NaN           n        1          0                8
462     male      NaN           n        0          0                8
286   female  C55 C57           C        1        144                3

In [14]:
X_test['sex_map']=X_test['sex'].map(ds)
X_test['cabin_map']=X_test['cabin'].map(dc)
X_test['CabinReduce_map']=X_test['CabinReduce'].map(dcR)
X_test.sample(20)

         sex    cabin CabinReduce  sex_map  cabin_map  CabinReduce_map
16      male  B58 B60           B        0        164                5
726   female      NaN           n        1          0                8
936   female      NaN           n        1          0                8
1125    male      NaN           n        0          0                8
722     male      NaN           n        0          0                8
1146  female      NaN           n        1          0                8
1260  female      NaN           n        1          0                8
793     male      NaN           n        0          0                8
988     male      NaN           n        0          0                8
1292    male      NaN           n        0          0                8
589   female      NaN           n        1          0                8
18    female      D15           D        1         38                1
610   female      NaN           n        1          0                8
513   female      NaN           n        1          0                8
703     male      NaN           n        0          0                8
883     male      NaN           n        0          0                8
1075    male      NaN           n        0          0                8
64      male       E8           E        0        138                6
862   female      NaN           n        1          0                8
1100  female      NaN           n        1          0                8

In [28]:
y_test

1139    0
533     1
459     0
1150    0
393     0
       ..
914     0
580     1
1080    1
1249    0
88      1
Name: survived, Length: 393, dtype: int64

**ZADANIE 8**

In [15]:
X_train.isna().sum()

sex                  0
cabin              702
CabinReduce          0
sex_map              0
cabin_map            0
CabinReduce_map      0
dtype: int64

In [16]:
X_test.isna().sum()

sex                  0
cabin              312
CabinReduce          0
sex_map              0
cabin_map            0
CabinReduce_map      0
dtype: int64

W zmodyfikowanych zbiorach(dla kolumn sex_map,cabin_map,CabinReduce_map) nie ma wartości NaN, ponieważ zostały one już zastąpione. Dla cabin jest dużo wartości NaN.

**ZADANIE 9**

In [17]:
X_test['cabin']=X_test['cabin'].fillna(0)
X_train['cabin']=X_train['cabin'].fillna(0)

In [18]:
X_test.sample(20)

         sex        cabin CabinReduce  sex_map  cabin_map  CabinReduce_map
762     male            0           n        0          0                8
49      male  B51 B53 B55           B        0         69                5
575   female            0           n        1          0                8
1046    male            0           n        0          0                8
948     male            0           n        0          0                8
440   female            0           n        1          0                8
319   female      E39 E41           E        1        141                6
459     male            0           n        0          0                8
1092    male            0           n        0          0                8
1213    male            0           n        0          0                8
85    female          C85           C        1        134                3
893     male            0           n        0          0                8
1265  female            0           n        1          0                8
142     male      B82 B84           B        0         77                5
808     male            0           n        0          0                8
361   female            0           n        1          0                8
1012  female            0           n        1          0                8
482   female            0           n        1          0                8
569     male            0           n        0          0                8
1140    male            0           n        0          0                8

In [19]:
X_train.isna().sum()

sex                0
cabin              0
CabinReduce        0
sex_map            0
cabin_map          0
CabinReduce_map    0
dtype: int64

In [20]:
X_test.isna().sum()

sex                0
cabin              0
CabinReduce        0
sex_map            0
cabin_map          0
CabinReduce_map    0
dtype: int64

Po zastąpieniu cabin wartością 0 nasz model może dawać błędne wyniki. Zastępując brakujące wartości zerem, model może błędnie zinterpretować, że jest taka kabina o numerze 0. Podobnie w CabinReduce, gdzie wartości NaN zostały zastąpione "n".

**ZADANIE 10**

In [21]:
for i in X_test.columns :
    print("{}: {}".format(i,len(X_test[i].unique())))

sex: 2
cabin: 71
CabinReduce: 8
sex_map: 2
cabin_map: 71
CabinReduce_map: 8

In [22]:
for i in X_train.columns :
    print("{}: {}".format(i,len(X_train[i].unique())))

sex: 2
cabin: 151
CabinReduce: 9
sex_map: 2
cabin_map: 151
CabinReduce_map: 9

In [23]:
Unique_test = [x for x in X_test.sex_map.unique() if x not in X_train.sex_map.unique()]
len(Unique_test)

0

In [24]:
Unique_test = [x for x in X_test.cabin_map.unique() if x not in X_train.cabin_map.unique()]
len(Unique_test)

36

In [25]:
Unique_test = [x for x in X_test.CabinReduce_map.unique() if x not in X_train.CabinReduce_map.unique()]
len(Unique_test)

0

Po redukcji zmalała znacząco liczba etykiet dla zmiennej cabin. Cały proces może mieć wpływ na działanie modelu np przez zamiane NaN na 0. Po zmianie zmiennej z kategorycznej na numeryczną przez mapowanie, jesteśmy w stanie wykorzystać to w modelu, co przekłada się na wartość predykcji.

In [26]:
X_test.to_csv("xtest.csv", index=False)
X_train.to_csv("xtrain.csv", index=False)
y_test.to_csv("ytest.csv", index=False)
y_train.to_csv("ytrain.csv", index=False)